<div class="main-container">
<div class="button-container">
    <div class="button-container-oggetti">
        <button id="bottoneRect" (click)="creaRect()">Rect</button>
        <button id="bottoneCerchio" (click)="creaCircle()">Circle</button>
        <button id="bottoneTri" (click)="creaTriangle()">Triangle</button>
        <button id="bottoneLine" (click)="creaLine()">Line</button>
        <button id="nuovoNastro" (click)="creaNastro()">Nastro</button>
        <button id="nuovoCassone" (click)="creaCassone()">Cassone TR1</button>
        <button id="nuovoCassone2" (click)="creaCassone2()">Cassone TR2</button>
        <button id="nuovoDef1" (click)="creaDef1()">DEF1</button> 
        <button id="nuovoN7DXN7SX" (click)="creaN7DXN7SX()">N7-DX N7-SX</button>
        <button id="nuovoFC" (click)="creaFineCorsa()">Fine corsa</button>
        <button id="nuovoLNK" (click)="creaLineaCollegamento()">LNK</button>
        <button id="nuovoTxt" (click)="creaTesto()">Testo</button>

    </div>
    <div class="svg">
        <!-- per zoommare in e out si devono moltiplicare o dividere i valori width e height del viewBox -->
    <svg #svgField xmlns="http://www.w3.org/2000/svg" width="1540"  height="1000">
        <g _ngcontent-ng-c1594260352="" eu-silos="" style="cursor: zoom-in;" _nghost-ng-c1092261683="" id="cmap_silos_s18" class="ng-star-inserted">
        <svg _ngcontent-ng-c1092261683="" style="overflow: visible;" x="103.4" y="0"><circle _ngcontent-ng-c1092261683="" cx="40" cy="40" r="40" fill="lightgray" stroke="#000000" stroke-width="0.3" stroke-dasharray=""></circle><g _ngcontent-ng-c1092261683="" eu-bar-level-perc="" _nghost-ng-c3657294974="" class="ng-star-inserted">
        <svg _ngcontent-ng-c3657294974="" style="overflow: visible;"><g _ngcontent-ng-c3657294974=""><rect _ngcontent-ng-c3657294974="" x="82" y="0" width="6" height="80" stroke="black" stroke-width="0.3" fill="#999999" class="ng-star-inserted"></rect><rect _ngcontent-ng-c3657294974="" x="82" y="7.999200000000002" width="6" height="72.0008" fill="yellow" class="ng-star-inserted"></rect><!----><!----><!----></g>
        </svg>
        </g><!----><!----><!----><!----><!---->
        <g _ngcontent-ng-c1092261683="" eu-generic-sensor="" _nghost-ng-c2270828386="" class="ng-star-inserted">
        <svg _ngcontent-ng-c2270828386="" style="overflow: visible;"><g _ngcontent-ng-c2270828386=""><!----><rect _ngcontent-ng-c2270828386="" x="72" y="0" width="8" height="8" fill="#999999" stroke="#000000" stroke-width="0.3" class="ng-star-inserted"></rect><!----><!----><!----><!----></g>
        </svg>
        </g><!----><!----><!----><!---->
        <g _ngcontent-ng-c1092261683="" eu-generic-sensor="" _nghost-ng-c2270828386="" class="ng-star-inserted">
        <svg _ngcontent-ng-c2270828386="" style="overflow: visible;"><g _ngcontent-ng-c2270828386=""><!----><rect _ngcontent-ng-c2270828386="" x="72" y="72" width="8" height="8" fill="yellow" stroke="#000000" stroke-width="0.3" class="ng-star-inserted"></rect><!----><!----><!----><!----></g>
        </svg>
        </g><!----><!----><!----><!----><!---->
        <g _ngcontent-ng-c1092261683="" eu-label-val="" _nghost-ng-c1309144363="" class="ng-star-inserted">
        <svg _ngcontent-ng-c1309144363="" style="overflow: visible;"><g _ngcontent-ng-c1309144363=""><!----><rect _ngcontent-ng-c1309144363="" x="11" y="-14" width="60" height="10" fill="black" class="ng-star-inserted"></rect><!----><!----><text _ngcontent-ng-c1309144363="" x="12" y="-6" style="fill:lime;font-size:10px;font-weight:bold;font-family:&quot;Lucida Console&quot;, &quot;Courier New&quot;, monospace;  " class="ng-star-inserted">  58500 Kg <!----><!----><!----><!----></text><!----><!----></g>
        </svg>
        </g><!----><!----><!----><text _ngcontent-ng-c1092261683="" x="28.272160223345992" y="43.939328632171055" style="fill:#000000;font-size:12px;font-weight:bold;font-family:&quot;Arial&quot;;  " fill="#000000" class="ng-star-inserted">S18</text><!----><!---->
        </svg>
        </g>
        <g _ngcontent-ng-c1594260352="" eu-finecorsa="" _nghost-ng-c2718932110="" id="cmap_fc_s18" class="ng-star-inserted" style="">
        <svg _ngcontent-ng-c2718932110="" style="overflow: visible;" x="140.1" y="81.6"><g _ngcontent-ng-c2718932110=""><polyline _ngcontent-ng-c2718932110="" points="3.3000000000000114,0.0  0.0,4.399999999999977  1.6500000000000057,4.399999999999977  1.6500000000000057,11.0  4.950000000000017,11.0  4.950000000000017,4.399999999999977  6.599999999999994,4.399999999999977  3.3000000000000114,0.0 " stroke="#000000" stroke-width="0.5" fill="#999999"></polyline><path _ngcontent-ng-c2718932110="" d="" fill="#999999" stroke="#000000" stroke-width="0.5"></path></g><!---->
        </svg>
        </g>
        <g _ngcontent-ng-c1594260352="" eu-convbelt="" _nghost-ng-c2384331322="" id="cmap_nastro_n11-rsx_n11-rdx" class="ng-star-inserted" style="">
            <svg _ngcontent-ng-c2384331322="" style="overflow: visible;" x="103.8" y="96.99"><g _ngcontent-ng-c2384331322="" transform="rotate(0 0 0)"><path _ngcontent-ng-c2384331322="" stroke-width="0.5" d="M 1.1 0
            L 1164.76, 0
            A 1.1 1.1, 0, 0 1 , 1164.76 2.2
            L 1.1, 2.2
            A 1.1 1.1, 0, 0 1 , 1.1 0
            Z" fill="pink" stroke="#000000"></path>
            <path _ngcontent-ng-c2384331322="" stroke-width="0.5" d="M 4.4 2.2
            A 4.4 4.4, 0, 0 0 , 4.4 11
            L 1161.4599999999998 11
            A 4.4 4.4, 0, 0 0 , 1161.4599999999998 2.2
            Z" fill="#999999" stroke="#000000"></path>
            <path _ngcontent-ng-c2384331322="" stroke-width="0.5" d="M 1.1 11
            L 1164.76, 11
            A 1.1 1.1, 0, 0 1 , 1164.76 13.200000000000001
            L 1.1, 13.200000000000001
            A 1.1 1.1, 0, 0 1 , 1.1 11
            Z" fill="pink" stroke="#000000"></path>
        </g><!----><text _ngcontent-ng-c2384331322="" x="659.930235305475" y="65.187721344875" style="fill:#000000;font-size:12px;font-weight:bold;font-family:&quot;Arial&quot;;  " fill="#000000" class="ng-star-inserted">N11-RSX</text><!----><text _ngcontent-ng-c2384331322="" x="749.6563335631939" y="64.97697492573002" style="fill:#000000;font-size:12px;font-weight:bold;font-family:&quot;Arial&quot;;  " fill="#000000" class="ng-star-inserted">N11-RDX</text><!----><!----><!----><!----><!---->
        <g _ngcontent-ng-c2384331322="" class="ng-star-inserted">
            <polyline _ngcontent-ng-c2384331322="" points="740.78487211469,61.373217041315  743.7919971146889,65.382717041315  746.799122114688,61.373217041315  745.2955596146879,61.373217041315  745.2955596146879,56.98210097603601  739.892232827743,51.57877418909203  734.633466322905,51.57877418909203  734.633466322905,54.920024189091976  738.508241762465,54.920024189091976  742.288434614688,58.700217041315  742.288434614688,61.373217041315  740.78487211469,61.373217041315 " stroke="#000000" stroke-width="0.5" fill="#999999"></polyline>
        </g><!----><!----><!----><!----><!---->
        <g _ngcontent-ng-c2384331322="" class="ng-star-inserted">
            <polyline _ngcontent-ng-c2384331322="" points="720.560287190894,61.373217041315  723.567412190894,65.382717041315  726.5745371908939,61.373217041315  725.070974690894,61.373217041315  725.070974690894,58.700217041315  728.851167543118,54.920024189091976  732.725942982677,54.920024189091976  732.725942982677,51.57877418909203  727.467176477839,51.57877418909203  722.063849690893,56.98210097603601  722.063849690893,61.373217041315  720.560287190894,61.373217041315 " stroke="#000000" stroke-width="0.5" fill="#999999"></polyline>
        </g><!----><!----><!---->
        </svg>
    </g>
    </svg>
    </div>
    <div class="button-container-comandi">
        <button id="ruota" (click)="ruotare(this.selectedElement)">rotate</button>
        <button id="scala" (click)="scalare(this.selectedElement)">scale</button>
        <button id="clona" (click)="clonare(this.selectedElement)">clone</button>
        <button id="zeta" (click)="setZeta()">set z</button>
        <button id="all" (click)="allungaX(this.selectedElement)">stretch x</button>
        <button id="del" (click)="cancellaEl(this.selectedElement)">delete</button>
        <button id="delAll" (click)="cancellaTutto()">delete all</button>
        <button id="zoomAllOut" (click)="zoommaOut()">zoom out</button>
        <button id="zoomAllIn" (click)="zoommaIn()">zoom in</button> 
        <button (click)="vaiUp()"><i class="fas fa-arrow-up"></i></button> 
        <button (click)="vaiASin()"><i class="fas fa-arrow-left"></i></button> 
        <button (click)="vaiADes()"><i class="fas fa-arrow-right"></i></button>
        <button (click)="vaiDown()"><i class="fas fa-arrow-down"></i></button> 
        <button id="bloccaTutto" (click)="blocca()">Blocca</button>  
        <button id="sbloccaTutto" (click)="sblocca()">Sblocca</button> 
    </div>
</div>
<div class="frecce">
    <button (click)="vaiADes()"><i class="fas fa-arrow-left"></i></button> 
    <div class="frecceAlCentro">
    <button (click)="vaiDown()"><i class="fas fa-arrow-up"></i></button> 
    <button (click)="vaiUp()"><i class="fas fa-arrow-down"></i></button> 
    </div>
    <button (click)="vaiASin()"><i class="fas fa-arrow-right"></i></button>
</div>
</div>



  






<router-outlet />
