<div class="button-container">
<button id="bottoneRect" (click)="creaRect()">Rect</button>
<button id="bottoneCerchio" (click)="creaCircle()">Circle</button>
<button id="bottoneTri" (click)="creaTriangle()">Triangle</button>
<button id="bottoneLine" (click)="creaLine()">Line</button>
<button id="ruota" (click)="ruotare(this.selectedElement)">rotate</button>
<button id="scala" (click)="scalare(this.selectedElement)">scale</button>
<button id="clona" (click)="clonare(this.selectedElement)">clone</button>
<button id="all" (click)="allungaX(this.selectedElement)">stretch x</button>


</div>

<svg #svgField xmlns="http://www.w3.org/2000/svg" width="100%"  height="100%">
  
</svg>




<router-outlet />
